nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #AB0C2F;
    color: white;
  }
  
  .nav-links{
    font-family: 'Metric', sans-serif;
    text-shadow: 2px 1px 2px #000000;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }