h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    color: black;
}
.hp {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    color: #FFFFFF;
}

.Register {
    text-align: left;
    font-family: 'Metric', sans-serif;
    color: #FFFFFF;
    font-size: larger;

}

.Links {
    font-family: 'Metric', sans-serif;
}

